.cartHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 121px 0px 80px;

    div {
        width: 100%;
        max-width: 662px;
        display: flex;
        justify-content: space-between;
        border-bottom: 0.5px solid #747474;


        a {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Satoshi';
            font-weight: 500;
            font-size: 24px;
            line-height: 32px;
            color: #292929;
            padding-bottom: 13px;
            border-bottom: 0.5px solid black;
        }
    }
}