.home {
    display: flex;
    flex-direction: column;
}

.home-intro {
    text-align: center;
    color: #292929;

    h1 {
        font-family: 'Clash Display';
        font-weight: 600;
        font-size: 80px;
        line-height: 156.7%;
    }

    p {
        font-family: 'Satoshi';
        font-weight: 500;
        font-size: 28px;
        line-height: 156.7%;
        margin-top: 50px;
    }
}

.home-slideshow {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 82px 0px 169px;

    .slideshow-container {
        display: flex;
        max-width: 1540px;
        overflow-x: hidden;
    }

    .slideshow {
        display: flex;
        align-items: center;
        overflow-x: hidden;
        height: 500px;
        min-width: 358px;
        margin-right: 20px;
    }

    .slideshowSlider {
        display: flex;
        align-items: center;
        height: 100%;

        img {
            max-width: 358px;
            align-self: center;
        }

    }

    .slide {
        display: flex;
        justify-content: flex-start;
        height: auto;
        width: 358px;
        transition: ease 1000ms;
    }

    .first-slide {
        margin: 0px 0px 0px 0px;
        height: 332px;
    }

    .second-slide {
        margin: 0px 0px 0px 0px;
        height: 428px;
    }

    .third-slide {
        margin: -50px 0px 0px 0px;
        height: 444px;
    }

    .fourth-slide {
        margin: 0px 0px 0px 0px;
        height: 428px;
    }

    .fifth-slide {
        margin: 10px 0px 0px 0px;
        height: 428px;
    }
}

.home-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 120px;

    h2 {
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 65px;
        color: #333333;
        width: 100%;
        max-width: 1300px;
        text-align: start;
        margin-bottom: 37px;
    }

    .reversed {

        .image-container {
            order: 1;
        }

        .creator-images {
            p {
                order: 1;
            }
        }

    }

    .product {
        padding: 61px 0px 74px;
        display: flex;
        width: 100%;
        max-width: 1300px;
        justify-content: space-between;
        border-top: 0.5px solid #333333;
    }

    .image-container {
        position: relative;
    }

    .product-img {
        width: 610px;
        height: 305px;
    }

    .product-img-hover {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-family: 'Clash Display';
            font-weight: 400;
            font-size: 40px;
            line-height: 49px;
            color: #FFFFFF;
            margin-right: 40px;
        }
    }

    .product-detail {
        height: 305px;
        width: 540px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h3 {
            font-family: 'STIX Two Text';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 50px;
            color: #333333;
        }

        p {
            font-family: 'Satoshi';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            color: #333333;
        }

        div {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .creator-images {
                display: flex;

                img {
                    margin-right: -25px;
                }
            }

            p {
                font-family: 'Satoshi';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 32px;
                color: #333333;
                margin-left: 40px;
            }
        }
    }
}

.home-upcoming {
    width: 100%;
    height: 780px;
    background-image: url('../images/Rectangle\ 90.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    .upcoming-container {
        width: 1200px;
    }

    h2 {
        font-family: 'Satoshi';
        font-weight: 500;
        font-size: 40px;
        line-height: 54px;
        color: #FFFFFF;
    }

    .arrow {
        margin: 17px 0px 21px 30px;
    }

    .upcoming-details {
        width: 100%;
        height: 546px;
        background-image: url('../images/Rectangle\ 91.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
    }

    .left-component {
        margin: 299px 0px 0px 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        svg {
            margin: 10px 0px 30px;
        }

        p {
            font-family: 'Bellefair';
            font-weight: 400;
            font-size: 67.6122px;
            line-height: 77px;
            color: #E1E1E1;
        }
    }

    .right-component {
        margin: 299px 0px 52px 13px;
        color: #FFFFFF;
        display: flex;
        justify-content: space-between;
        flex-grow: 1;

        h3 {
            font-family: 'Bellefair';
            font-weight: 400;
            font-size: 29.2313px;
            line-height: 33px;
        }

        .start-time {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 13.46px;
            line-height: 20px;
            margin: 16px 0px 13px;
        }

        .exclusive {
            font-family: 'Satoshi';
            font-style: normal;
            font-weight: 500;
            font-size: 15.8576px;
            line-height: 21px;
            letter-spacing: 0.065em;
            flex-grow: 2;
        }

        .link-component {
            display: flex;
            align-items: flex-end;
            margin-bottom: 20px;

            div {
                align-items: center;
            }

            a {
                font-family: 'Satoshi';
                font-weight: 400;
                font-size: 24px;
                line-height: 32px;
                color: #FFFFFF;
                text-decoration: underline;
            }

            button {
                font-family: 'Satoshi';
                font-weight: 400;
                font-size: 24px;
                line-height: 32px;
                color: #FFFFFF;
                width: 181px;
                height: 62px;
                border: 1px solid #FFFFFF;
                border-radius: 10px;
                margin: 0px 37px 0px 29px;
            }
        }
    }

    .upcoming-bottom {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 21px;
        align-items: center;

        .slider-track {
            width: 300px;
            height: 10px;
            background-color: #AEAEAE;
            border-radius: 5px;
        }

        .slider-thumb {
            height: 100%;
            width: 48px;
            background-color: #FFFFFF;
            border-radius: 5px;
        }

        .btns {
            display: flex;
        }

        button {
            width: 69.71px;
            height: 69.71px;
            background-color: rgba(255, 255, 255, 0.2);
            box-shadow: 7.77035px 7.77035px 11.6555px rgba(0, 0, 0, 0.15);
            backdrop-filter: blur(7.77035px);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 20px;
        }
    }
}

.home-redirect {

    margin-top: 190px;

    .bottom {
        border-bottom: 0.5px solid #333333;
    }

    .redirect-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 0.5px solid #333333;

        div {
            display: flex;
            align-items: center;
            width: 80%;
            max-width: 1200px;
            justify-content: space-between;
            padding: 59px 0px;

            h2 {
                margin: 0;
                font-family: 'Satoshi';
                font-weight: 500;
                font-size: 48px;
                line-height: 65px;
                color: #333333;
            }
        }
    }


}

.home-top-creators {
    width: 100%;
    height: 922px;
    background-color: #E2E2E2;
    margin: 180px 0px 142px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .top-section {
        width: 80%;
        display: flex;
        justify-content: space-between;
        margin-top: 76px;

        h2 {
            font-family: 'Clash Display';
            font-weight: 600;
            font-size: 55px;
            line-height: 155.5%;
            color: #161616;
        }

        .right-comp {
            display: flex;
        }

        .slider-track {
            width: 10px;
            height: 100%;
            background-color: #AEAEAE;
            border-radius: 5px;
            margin-right: 35px;
            display: flex;
            align-items: flex-end;
        }

        .slider-thumb {
            width: 100%;
            height: 47px;
            background-color: #292929;
            border-radius: 5px;
        }

        .right-text {
            display: flex;
            flex-direction: column;

            p {
                font-family: 'Clash Display';
                font-weight: 400;
                font-size: 40px;
                line-height: 155.5%;
                color: #333333;
                margin: 0px 0px 20px;

                &:last-child {
                    margin-bottom: 0px;
                }
            }

        }

    }

    .paragraph {
        font-family: 'Clash Display';
        font-weight: 200;
        font-size: 32px;
        line-height: 130%;
        color: rgba(0, 0, 0, 0.57);
        width: 80%;
        margin-top: 48px;
    }

    // .creators-absolute {
    //     position: absolute;
    // }

    .circa {
        font-family: 'Clash Display';
        font-weight: 700;
        font-size: 48px;
        line-height: 155.5%;
        color: #333333;
        position: absolute;
        right: 303px;
        bottom: 324px;
    }

    .ninety {
        font-family: 'Clash Display';
        font-weight: 700;
        font-size: 170px;
        line-height: 155.5%;
        text-decoration-line: line-through;
        color: #161616;
        position: absolute;
        right: 122px;
        bottom: 75px;
    }

    .creator-img-container {
        display: flex;
        position: absolute;
        right: 190px;
        top: 143px;

        div {
            transition: ease 2s;
        }
    }

}

.home-newsletter {
    width: 100%;
    display: flex;
    justify-content: center;

    .newsletter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #333333;
        width: 90%;
        height: 320px;
        margin: 147px 0px 50px;

        h2 {
            font-family: 'Baskervville';
            font-weight: 400;
            font-size: 30.2105px;
            line-height: 39px;
            color: #333333;
        }

        p {
            font-family: 'Satoshi';
            font-weight: 400;
            font-size: 32px;
            line-height: 43px;
            color: #333333;
            margin: 20px 0px 34px;
        }

        form {
            display: flex;
            align-items: center;

            input {
                width: 446px;
                height: 60px;
                padding-left: 58px;
                margin-right: 23px;
                border: 1px solid #333333;
                font-family: 'Baskervville';
                font-weight: 400;
                font-size: 16px;
                line-height: 21px;
                color: #333333;
            }

            button {
                width: 181px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Baskervville';
                font-weight: 400;
                font-size: 16px;
                line-height: 21px;
                color: #FFFFFF;
                background-color: #272727;
                border: 1px solid #333333;
                border-radius: 0px;
            }
        }
    }
}