.marketItem {
    display: flex;
    justify-content: center;

    main {
        width: 100%;
        max-width: 1200px;

        .navigate {
            display: flex;
            margin: 60px 0px 81px;

            a,
            p,
            span {
                font-family: 'Satoshi';
                font-weight: 500;
                font-size: 24px;
                line-height: 52px;
                color: #BCB7B7;
            }

            p {
                &:last-child {
                    color: #000000;
                    margin-left: 5px;
                }
            }
        }

        .item {
            border: 1px solid #333333;
            display: flex;
            width: 100%;

            .img-container {
                padding: 49px 24px 45px 23px;
                border-right: 1px solid #333333;
                width: 572px;

                img {
                    width: 525px;
                    height: 926px;
                }
            }

            .detail {
                width: 55%;

                .title {
                    display: flex;
                    padding: 58px 30px;
                    align-items: center;
                    justify-content: space-between;

                    h1 {
                        font-family: 'Satoshi';
                        font-weight: 700;
                        font-size: 46px;
                        line-height: 97.6%;
                        color: #333333;
                    }

                    p {
                        display: flex;
                        align-items: center;

                        span {
                            font-family: 'STIX Two Text';
                            font-weight: 500;
                            font-size: 40px;
                            line-height: 157.6%;
                            color: #333333;
                            margin-left: 14px;
                        }
                    }
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    padding: 52px 30px 62px;
                    border-top: 1px solid #333333;
                    border-bottom: 1px solid #333333;

                    .creator {
                        font-family: 'Satoshi';
                        font-weight: 400;
                        font-size: 30px;
                        line-height: 97.6%;
                        color: #616161;

                        span {
                            font-weight: 500;
                            color: #4693ED;
                        }
                    }

                    .location {
                        font-family: 'Satoshi';
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 97.6%;
                        color: #000000;
                        margin: 30px 0px 32px;
                    }

                    .views {
                        font-family: 'Satoshi';
                        font-weight: 500;
                        font-size: 28px;
                        line-height: 97.6%;
                        color: #000000;

                        span {
                            color: #333333;
                        }
                    }

                    .counter {
                        display: flex;
                        align-items: center;
                        font-family: 'Satoshi';
                        font-weight: 500;
                        font-size: 36px;
                        line-height: 97.6%;
                        color: #333333;
                        margin: 40px 0px 59px;

                        p {
                            text-align: center;
                            width: 40px;
                            margin: 0px 20px;
                        }
                    }

                    .cart {
                        display: flex;
                        align-items: center;

                        .add-cart {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 316px;
                            height: 79px;
                            background-color: #3341C1;
                            border-radius: 3px;
                            font-family: 'Inter';
                            font-weight: 500;
                            font-size: 26px;
                            line-height: 31px;
                            color: #FFFFFF;
                        }

                        .fav {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-left: 23px;
                            border: 1px solid #292929;
                            width: 110px;
                            height: 79px;
                            border-radius: 0px;
                        }
                    }
                }

                .description,
                .listings,
                .status {
                    width: 100%;
                    padding: 40px 30px;

                    button {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        font-family: 'Satoshi';
                        font-weight: 500;
                        font-size: 32px;
                        line-height: 97.6%;
                        color: #333333;
                    }

                    p {
                        width: 100%;
                        font-family: 'Satoshi';
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 32px;
                        color: #333333;
                        margin-top: 20px;
                    }
                }

                .listings {
                    border-top: 1px solid #333333;
                    border-bottom: 1px solid #333333;
                }
            }
        }

        .explore-more {
            display: flex;
            flex-direction: column;

            .explore {
                width: 100%;
                height: 114px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: #FFFFFF;
                box-shadow: 4px 4px 64px rgba(0, 0, 0, 0.08);
                border-radius: 15px;
                padding: 0px 20px;
                margin: 89px 0px 101px;

                p {
                    font-family: 'Satoshi';
                    font-weight: 500;
                    font-size: 32px;
                    line-height: 97.6%;
                    color: #333333;
                }

                div {
                    display: flex;

                    button {
                        width: 59px;
                        height: 59px;
                        border-radius: 50%;
                        border: 1px solid #616161;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &:first-child {
                            margin-right: 35px;
                        }
                    }
                }
            }

            .more {
                display: none;
            }

            .explore-container {
                display: flex;
                overflow-x: scroll;

                &::-webkit-scrollbar {
                    height: 0px;
                }

                .explore-item {
                    background-color: #FFFFFF;
                    border: 1px solid #333333;
                    margin-right: 40px;
                    padding: 26px 42px 22px;

                    .like {
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                    }

                    img {
                        width: 446px;
                        min-width: 446px;
                        height: 421px;
                        margin: 25px 0px;
                    }

                    .details {
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                        align-items: center;

                        p {
                            font-family: 'Satoshi';
                            font-weight: 500;
                            font-size: 32px;
                            line-height: 97.6%;
                            color: #333333;
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }

            .btn-container {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 87px 0px 76px;

                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 313px;
                    height: 91px;
                    border-radius: 16px;
                    font-family: 'Satoshi';
                    font-weight: 500;
                    font-size: 36px;
                    line-height: 97.6%;
                    border: 1px solid rgba(192, 86, 9, 0.49);
                    background: linear-gradient(94.97deg, #78A3AD 24.64%, rgba(192, 86, 9, 0.49) 118.54%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .marketItem {

        main {
            display: flex;
            flex-direction: column;
            align-items: center;

            .navigate {
                display: flex;
                margin: 26px 0px 7px;
                width: 100%;
                padding-left: 8px;

                a,
                p,
                span {
                    font-size: 18px;
                }

            }

            .item {
                flex-direction: column;
                border: none;
                border-top: 1px solid #333333;
                padding: 0px;

                .img-container {
                    padding: 30px 8px 0px;
                    border-right: none;
                    width: 100%;
                    display: flex;
                    justify-content: center;

                    img {
                        width: 357px;
                        height: 384px;
                    }
                }

                .detail {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    .title {
                        padding: 0px 8px;

                        h1 {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 157.6%;
                        }

                        p {

                            svg {
                                transform: scale(0.4);
                            }

                            span {
                                font-size: 16px;
                                margin-left: -15px;
                                margin-top: 4px;
                            }
                        }
                    }

                    .info {
                        border: none;
                        padding: 0px 8px;

                        .creator {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 157.6%;
                            color: #000000;
                        }

                        .location {
                            font-size: 16px;
                            line-height: 157.6%;
                            color: #616161;
                            margin: 20px 0px;
                        }

                        .views {
                            font-size: 16px;
                            line-height: 157.6%;
                            color: #616161;
                        }

                        .counter {
                            font-size: 30px;
                        }

                        .cart {

                            margin-bottom: 56px;

                            .add-cart {
                                width: 214px;
                                height: 57px;
                                border-radius: 4px;
                                font-family: 'Satoshi';
                                font-size: 17px;
                                line-height: 23px;
                            }

                            .fav {
                                margin-left: 19px;
                                border: 1px solid #161616;
                                width: 66px;
                                height: 57px;
                                border-radius: 4px;

                                svg {
                                    transform: scale(0.7);
                                }
                            }
                        }
                    }

                    .description,
                    .listings,
                    .status {
                        width: 100%;
                        padding: 20px 28px;

                        button {
                            font-size: 18px;
                            line-height: 157.6%;
                        }

                        p {
                            font-size: 14px;
                            line-height: 25px;
                            margin-top: 20px;
                        }

                    }

                    .listings {
                        border-top: 1px solid #333333;
                        border-bottom: 1px solid #333333;
                    }

                    .description {
                        border-top: 1px solid #333333;
                    }

                    .status {
                        border-bottom: 1px solid #333333;
                    }
                }
            }

            .explore-more {
                width: 100%;
                margin: 100px 0px;
                padding: 0px 8px;

                .explore {
                    display: none;
                }

                .more {
                    width: 100%;
                    display: block;
                    font-family: 'Satoshi';
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 157.6%;
                    color: #292929;
                    margin-bottom: 30px;
                }

                .explore-container {

                    .explore-item {
                        padding: 11px 15px;

                        img {
                            width: 369px;
                            min-width: 369px;
                            height: 421px;
                            margin: 10px 0px;
                        }

                        .details {
                            display: flex;
                            width: 100%;
                            justify-content: space-between;
                            align-items: center;

                            p {
                                font-size: 24px;

                            }
                        }
                    }
                }

                .btn-container {
                    display: none;
                }
            }
        }
    }
}