.marketplace {
    display: flex;
    justify-content: center;
    margin: 100px 0px;

    aside {
        width: 245px;
        margin-right: 43px;

        .search-container {
            width: 100%;
            height: 91px;
            display: flex;
            align-items: center;
            margin-bottom: 84px;
        }

        .search {
            width: 215px;
            height: 60px;
            background-color: #F4F2F2;
            border-radius: 15px;
            display: flex;
            align-items: center;

            svg {
                margin: 0px 14px 0px 28px;
            }

            input {
                height: 100%;
                max-width: 100px;
                background-color: #F4F2F2;
                font-family: 'Satoshi';
                font-weight: 500;
                font-size: 24px;
                line-height: 32px;
                color: #999999;

                &:focus {
                    outline: none;
                }
            }
        }

        .filters {
            width: 100%;

            .header {
                display: flex;
                flex-direction: column;

                div {
                    display: flex;
                    align-items: center;

                    p {
                        font-family: 'Satoshi';
                        font-weight: 500;
                        font-size: 32px;
                        line-height: 157.6%;
                        color: #000000;
                        margin-left: 24px;
                    }
                }

                .bar {
                    width: 100%;
                    height: 8px;
                    background-color: #AFB091;
                    border-radius: 4px;
                    margin-top: 18px;
                }
            }

            .heading {
                display: flex;
                justify-content: space-between;
                margin-bottom: 50px;
                align-items: center;

                button {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-family: 'Satoshi';
                    font-weight: 500;
                    font-size: 28px;
                    line-height: 157.6%;
                    color: #000000;
                    margin: 0;
                    padding: 0;
                }
            }

            .category {
                margin-top: 61px;

                label {
                    font-family: 'Satoshi';
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 32px;
                    color: #292929;
                    display: block;
                    position: relative;
                    padding-left: 41px;
                    margin-bottom: 20px;
                    cursor: pointer;

                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;

                    }

                    .checkmark {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 25px;
                        width: 25px;
                        background-color: #D9D9D9;
                        border-radius: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        svg {
                            display: none;
                        }

                        &:after {
                            content: "";
                            position: absolute;
                            display: none;
                        }
                    }

                    &:hover input~span {
                        background-color: #ccc;
                    }

                    & input:checked~span {

                        svg {
                            display: block;
                        }
                    }
                }
            }

            .price {
                margin-top: 61px;

                .value {
                    margin-bottom: 50px;

                    p {
                        font-family: 'Satoshi';
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 32px;
                        color: #292929;
                        text-align: center;
                    }
                }

                .range-container {
                    position: relative;
                    width: 100%;
                    height: 45px;

                    & input[type="range"] {
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        width: 100%;
                        outline: none;
                        position: absolute;
                        margin: auto;
                        top: 0;
                        bottom: 0;
                        background-color: transparent;
                        pointer-events: none;

                        &::-webkit-slider-runnable-track {
                            -webkit-appearance: none;
                            height: 5px;
                        }

                        &::-moz-range-track {
                            -moz-appearance: none;
                            height: 5px;
                        }

                        &::-ms-track {
                            appearance: none;
                            height: 5px;
                        }

                        &::-webkit-slider-thumb {
                            -webkit-appearance: none;
                            width: 32px;
                            height: 32px;
                            border-radius: 50%;
                            background-color: #333333;
                            border: 2px solid #333333;
                            cursor: pointer;
                            pointer-events: auto;
                            margin-top: -14px;
                        }

                        &::-moz-range-thumb {
                            -moz-appearance: none;
                            width: 32px;
                            height: 32px;
                            border-radius: 50%;
                            background-color: #333333;
                            border: 2px solid #333333;
                            cursor: pointer;
                            pointer-events: auto;
                        }

                        &::-ms-thumb {
                            appearance: none;
                            width: 32px;
                            height: 32px;
                            border-radius: 50%;
                            background-color: #333333;
                            border: 2px solid #333333;
                            cursor: pointer;
                            pointer-events: auto;
                        }

                        &:active::-webkit-slider-thumb {
                            background-color: white;
                        }
                    }


                    .slider-track {
                        width: 100%;
                        height: 5px;
                        background-color: #B8BCB5;
                        position: absolute;
                        margin: auto;
                        top: 0;
                        bottom: 0;
                    }
                }
            }

            .artist {
                margin-top: 61px;

                p {
                    font-family: 'Satoshi';
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 32px;
                    color: #292929;
                    margin-bottom: 20px;
                }
            }

            .year {
                margin-top: 61px;
            }
        }
    }

    main {
        max-width: 913px;
        display: flex;
        flex-direction: column;

        .topbar {
            display: flex;
            width: 100%;
            height: 91px;
            justify-content: space-between;
            align-items: center;
            background-color: #FFFFFF;
            box-shadow: 4px 4px 64px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            margin-bottom: 84px;
            position: relative;
            padding: 0px 16px 0px 30px;

            p {
                font-family: 'Satoshi';
                font-weight: 400;
                font-size: 24px;
                line-height: 157.6%;
                color: #000000;
            }

            .filter {
                display: none;
            }

            button {
                width: 191px;
                height: 56px;
                border: 0.4px solid #000000;
                border-radius: 8px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Satoshi';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 157.6%;
                color: #000000;

                svg {
                    margin-left: 11px;
                }
            }

            div {
                position: absolute;
                top: 91px;
                right: 0px;
                width: 300px;
                background-color: #FFFFFF;
                box-shadow: 4px 4px 64px rgba(0, 0, 0, 0.1);
                border-radius: 0px 0px 15px 15px;

                button {
                    border: none;
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
        }


        .items {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            a {
                padding: 20px 14px 7px;
                margin-bottom: 47px;
                background-color: #FFFFFF;
                box-shadow: 0px 34px 68px rgba(217, 225, 244, 0.36);
                border-radius: 15px;

                img {
                    width: 241px;
                    height: 280px;
                    border-radius: 8px;
                }

                div {
                    display: flex;
                    flex-direction: column;
                }

                .title {
                    font-family: 'Satoshi';
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 157.6%;
                    color: #333333;
                    margin: 10px 0px 18px;
                    text-transform: uppercase;
                }

                .price {
                    font-family: 'Satoshi';
                    font-weight: 700;
                    font-size: 28px;
                    line-height: 157.6%;
                    color: #333333;
                }
            }
        }

        .see-more {
            width: 100%;
            height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                &:first-child {
                    width: 249px;
                    height: 73px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #333333;
                    border-radius: 10px;
                    font-family: 'Satoshi';
                    font-weight: 500;
                    font-size: 30px;
                    line-height: 41px;
                    color: #333333;
                }

                &:last-child {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {

    .marketplace {
        margin: 66px 0px;
        padding: 0px 8px;

        aside {
            display: none;
        }

        main {
            .topbar {
                height: 60px;
                padding: 0px 11px 0px 20px;
                margin-bottom: 31px;

                p {
                    position: absolute;
                    top: -35px;
                    left: 0px;
                    margin-left: 0px;
                    font-family: 'Poppins';
                    font-style: italic;
                    font-size: 16px;
                    line-height: 24px;
                    color: #BCB7B7;
                }

                .filter {
                    display: block;
                    display: flex;
                }

                button {
                    width: auto;
                    border: none;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 24px;
                }

                div {
                    top: 60px;
                }
            }

            .items {

                a {
                    box-shadow: none;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 0px;
                    border-radius: 0px;

                    img {
                        width: 357px;
                        height: 384px;
                        border-radius: 0px;
                    }

                    div {
                        flex-direction: row;
                        width: 100%;
                        max-width: 357px;
                        justify-content: space-between;
                        margin-top: 10px;
                    }

                    .title,
                    .price {
                        font-weight: 500;
                        font-size: 16px;
                        margin: 0px;
                    }
                }
            }

            .see-more {
                height: 100px;
                position: relative;

                button {
                    &:first-child {
                        display: none;
                    }

                    &:last-child {
                        display: block;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        right: 29px;
                        font-family: 'Satoshi';
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 157.6%;
                        color: #000000;

                        span {
                            width: 53px;
                            height: 53px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-left: 13px;
                            border-radius: 50%;
                            border: 0.5px solid #000000;
                        }
                    }
                }
            }
        }
    }

}