nav {
    padding: 52px 120px 20px 183px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-name {
    button {
        font-family: 'STIX Two Text', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 90px;
        color: #292929;

        &:focus {
            outline: none;
        }
    }
}

.nav-routes {
    width: 485px;
    height: auto;
    display: flex;
    justify-content: space-between;

    a {
        font-family: 'Satoshi', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
    }

    .nav-underline {
        border-bottom: 2px solid #292929;
    }
}

.nav-icons {
    display: flex;

    button {
        margin-right: 21px;
    }
}