.pop-up {
    position: fixed;
    background-color: #ffffff;
    min-height: 70px;
    width: 300px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0px;
    top: 70px;
    font-family: 'Satoshi';
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    border-radius: 15px 0px 0px 15px;
    box-shadow: -5px 2px 5px 1px rgba(0, 0, 0, 0.33);
}